*,
*::after,
*::before{
    border: 0;
    padding: 0;
    box-sizing: border-box; /*This change makes it easier to manage element sizing by including padding and border within the element's defined width and height. */
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    height: 10ch;
    padding: 30px 0px;
}
.content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 100px;
    font-size: 20px;
    max-width: 1100px;
    margin: 10px auto;
}
.options{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    width: 200px;
    padding: 15px;
}

button,
input{
    cursor: pointer;
    border: none;
    padding: 0;
    margin: 0;
    font-size: large;
}

button{
    padding: 10px 20px;
    border: 1px solid grey;
    border-radius: 10px;
    background-color: white;
}

#sizeSlide{
    cursor: pointer;
}

#sizeValue{
    margin-bottom: -20px;
}

button:hover,
input[type=color]{
    transform: scale(1.05);
}

#gridContainer{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    /* align-items: center; */
    /* flex-direction: row; */
    border: 1px solid black;
    height: 500px;
    width: 500px;
    background-color: yellow;
    box-sizing: content-box;
}

.box{
    box-sizing: border-box;
    background-color: black;
    /* width: 10px; */
    /* height: 10px; */
    border: 0.1rem solid white;
    /* margin: 0.1rem; */
    background-clip: content-box;
    /* padding: 1%; */
}


.box:hover{
    border: 1px solid white;
}

.filler{
    background-color: black;
}

.unfilled{
    background-color: white;
}